<section aria-labelledby="productHeading">
    <h1 id="productHeading">Product</h1>
    <article>
        <table role="table" aria-describedby="productTableCaption">
            <caption id="productTableCaption">A table displaying details about a product</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price | currency }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>
