<section aria-labelledby="createProductHeading">
    <h1 id="createProductHeading">Create Product</h1>
    <article>
        <form [formGroup]="productForm" (ngSubmit)="submitForm()" novalidate>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" formcontrolname="name" class="form-control" maxlength="20" placeholder="Enter product name" aria-required="true" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" class="form-control" formcontrolname="description" rows="3" maxlength="50" placeholder="Enter product description" aria-required="true" required></textarea>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" formcontrolname="price" class="form-control" id="price" placeholder="Enter product price" aria-required="true" required>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" formcontrolname="quantity" class="form-control" id="quantity" placeholder="Enter product quantity" aria-required="true" required>
            </div>
            <button type="submit" aria-label="Submit the form to create a new product">Submit</button>
        </form>
    </article>
</section>
